version: "3.8"
services:
  langflow:
    depends_on:
    - postgres
    environment:
      LANGFLOW_DATABASE_URL: postgresql://langflow:langflow@postgres:5432/langflow
    image: langflowai/langflow:latest
    ports:
    - mode: ingress
      target: 7860
      published: 7860
      protocol: tcp
    volumes:
    - type: volume
      source: langflow-data
      target: /app/langflow
  postgres:
    environment:
      POSTGRES_DB: langflow
      POSTGRES_PASSWORD: langflow
      POSTGRES_USER: langflow
    image: postgres:16
    ports:
    - mode: ingress
      target: 5432
      published: 5432
      protocol: tcp
    volumes:
    - type: volume
      source: langflow-postgres
      target: /var/lib/postgresql/data
volumes:
  langflow-data: {}
  langflow-postgres: {}
